<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div *ngIf="!(user | async)?.uid">
  <h2>Log in</h2>

  <button (click)="anonLogin()">Anonymous Login</button>

  <div>
    <input #email placeholder="email" (keyup)="0">
    <input #password placeholder="password" (keyup)="0">
    <button (click)="emailLogin(email.value, password.value)">Email/Password Login</button>

    <p>{{email.value}}</p>
    <p>{{password.value}}</p>
  </div>
</div>
<div *ngIf="(user | async)?.uid">
  <h2>Hi {{ getUserName() }}!</h2>
  <h5>User Id: {{ getUserId() }}</h5>
  <h5>Is anon: {{ (user | async)?.isAnonymous }}</h5>
  <h5>email: {{ (user | async)?.email }}</h5>
  <h5>verified: {{ (user | async)?.emailVerified }}</h5>
  <h5>Ph Number: {{ (user | async)?.phoneNumber }}</h5>
  <h5>display name: {{ (user | async)?.displayName }}</h5>
  <h5>User Id: {{ (user | async)?.uid }}</h5>

  <button (click)="logout()">Logout</button>
</div>
<div *ngIf="(user | async)?.uid">
  <input #date placeholder="YYYY-MM-DD-[D/N]" (keyup)="0">
  <button (click)="newShift(date.value)">New Shift</button>
  <p>{{date.value}}</p>
</div>
